In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('data/speeddating.csv')

In [11]:
df.head()

,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,samerace,...,d_expected_num_interested_in_me,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match
0,0,1,female,21.0,27.0,6,[4-6],asian/pacific islander/asian-american,european/caucasian-american,0,...,[0-3],[3-5],7.0,6.0,[6-8],[5-6],0.0,1,0,0
1,0,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,european/caucasian-american,0,...,[0-3],[3-5],7.0,5.0,[6-8],[5-6],1.0,1,0,0
2,1,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,asian/pacific islander/asian-american,1,...,[0-3],[3-5],7.0,NaN,[6-8],[0-4],1.0,1,1,1
3,0,1,female,21.0,23.0,2,[2-3],asian/pacific islander/asian-american,european/caucasian-american,0,...,[0-3],[3-5],7.0,6.0,[6-8],[5-6],0.0,1,1,1
4,0,1,female,21.0,24.0,3,[2-3],asian/pacific islander/asian-american,latino/hispanic american,0,...,[0-3],[3-5],6.0,6.0,[6-8],[5-6],0.0,1,1,1

In [12]:
df.columns

Index(['has_null', 'wave', 'gender', 'age', 'age_o', 'd_age', 'd_d_age',
       'race', 'race_o', 'samerace',
       ...
       'd_expected_num_interested_in_me', 'd_expected_num_matches', 'like',
       'guess_prob_liked', 'd_like', 'd_guess_prob_liked', 'met', 'decision',
       'decision_o', 'match'],
      dtype='object', length=123)

In [13]:
df2 = df.copy()

In [14]:
# Suppression de variables

del df2['d_d_age']
del df2['d_importance_same_race']
del df2['d_importance_same_religion']
del df2['d_pref_o_attractive']
del df2['d_pref_o_sincere']
del df2['d_pref_o_intelligence']
del df2['d_pref_o_funny']
del df2['d_pref_o_ambitious']
del df2['d_pref_o_shared_interests']
del df2['d_attractive_o']
del df2['d_sinsere_o']
del df2['d_intelligence_o']
del df2['d_funny_o']
del df2['d_ambitous_o']
del df2['d_shared_interests_o']
del df2['d_attractive_important']
del df2['d_sincere_important']
del df2['d_intellicence_important']
del df2['d_funny_important']
del df2['d_ambtition_important']
del df2['d_shared_interests_important']
del df2['d_attractive']
del df2['d_sincere']
del df2['d_intelligence']
del df2['d_funny']
del df2['d_ambition']
del df2['d_attractive_partner']
del df2['d_sincere_partner']
del df2['d_intelligence_partner']
del df2['d_funny_partner']
del df2['d_ambition_partner']
del df2['d_shared_interests_partner']
del df2['d_sports']
del df2['d_tvsports']
del df2['d_exercise']
del df2['d_dining']
del df2['d_museums']
del df2['d_art']
del df2['d_hiking']
del df2['d_gaming']
del df2['d_clubbing']
del df2['d_reading']
del df2['d_tv']
del df2['d_theater']
del df2['d_movies']
del df2['d_concerts']
del df2['d_music']
del df2['d_shopping']
del df2['d_yoga']
del df2['d_interests_correlate']
del df2['d_expected_happy_with_sd_people']
del df2['d_expected_num_interested_in_me']
del df2['d_expected_num_matches']
del df2['d_like']
del df2['d_guess_prob_liked']

In [15]:
# Correction de fautes

df2.rename(columns = {'ambtition_important':'ambition_important',
                     'intellicence_important':'intelligence_important',
                     'samerace':'same_race',
                     'sinsere':'sincere',
                     'sinsere_o':'sincere_o',
                     'ambitous_o':'ambition_o',
                     'd_sinsere_o':'d_sincere_o',
                     'd_ambitous_o':'d_ambition_o',
                     'intellicence_important':'intelligence_important',
                     'd_intellicence_important':'d_intelligence_important'}, inplace = True)

In [16]:
# Renommage de certaines variables

df2.rename(columns = {'pref_o_attractive': 'attractive_important_o',
                      'pref_o_sincere': 'sincere_important_o',
                      'pref_o_intelligence': 'intelligence_important_o',
                      'pref_o_funny': 'funny_important_o',
                      'pref_o_ambitious': 'ambition_important_o',
                      'pref_o_shared_interests': 'shared_interests_important_o',
                      'd_pref_o_attractive': 'd_attractive_important_o',
                      'd_pref_o_sincere': 'd_sincere_important_o',
                      'd_pref_o_intelligence': 'd_intelligence_important_o',
                      'd_pref_o_funny': 'd_funny_important_o',
                      'd_pref_o_ambitious': 'd_ambition_important_o',
                      'd_pref_o_shared_interests': 'd_shared_interests_important_o'}, inplace = True)

In [17]:
df2.columns[[i for i in range(50)]]

Index(['has_null', 'wave', 'gender', 'age', 'age_o', 'd_age', 'race', 'race_o',
       'same_race', 'importance_same_race', 'importance_same_religion',
       'field', 'attractive_important_o', 'sincere_important_o',
       'intelligence_important_o', 'funny_important_o', 'ambition_important_o',
       'shared_interests_important_o', 'attractive_o', 'sincere_o',
       'intelligence_o', 'funny_o', 'ambition_o', 'shared_interests_o',
       'attractive_important', 'sincere_important', 'intelligence_important',
       'funny_important', 'ambition_important', 'shared_interests_important',
       'attractive', 'sincere', 'intelligence', 'funny', 'ambition',
       'attractive_partner', 'sincere_partner', 'intelligence_partner',
       'funny_partner', 'ambition_partner', 'shared_interests_partner',
       'sports', 'tvsports', 'exercise', 'dining', 'museums', 'art', 'hiking',
       'gaming', 'clubbing'],
      dtype='object')

In [18]:
invariants = ['gender', 'age', 'race', 'importance_same_race', 'importance_same_religion', 'field', 'attractive_important', 'sincere_important', 'intelligence_important', 'funny_important', 'ambition_important', 'shared_interests_important', 'attractive', 'sincere', 'intelligence', 'funny', 'ambition', 'sports', 'tvsports', 'exercise', 'dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga']

In [19]:
for i in range(len(invariants)): # Nombre de valeurs manquantes pour chaque colonne invariante
    print(df2[invariants[i]].isnull().sum())

0
95
63
79
79
63
79
79
79
89
99
121
105
105
105
105
105
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79

In [20]:
df2.head()

,has_null,wave,gender,age,age_o,d_age,race,race_o,same_race,importance_same_race,...,interests_correlate,expected_happy_with_sd_people,expected_num_interested_in_me,expected_num_matches,like,guess_prob_liked,met,decision,decision_o,match
0,0,1,female,21.0,27.0,6,asian/pacific islander/asian-american,european/caucasian-american,0,2.0,...,0.14,3.0,2.0,4.0,7.0,6.0,0.0,1,0,0
1,0,1,female,21.0,22.0,1,asian/pacific islander/asian-american,european/caucasian-american,0,2.0,...,0.54,3.0,2.0,4.0,7.0,5.0,1.0,1,0,0
2,1,1,female,21.0,22.0,1,asian/pacific islander/asian-american,asian/pacific islander/asian-american,1,2.0,...,0.16,3.0,2.0,4.0,7.0,NaN,1.0,1,1,1
3,0,1,female,21.0,23.0,2,asian/pacific islander/asian-american,european/caucasian-american,0,2.0,...,0.61,3.0,2.0,4.0,7.0,6.0,0.0,1,1,1
4,0,1,female,21.0,24.0,3,asian/pacific islander/asian-american,latino/hispanic american,0,2.0,...,0.21,3.0,2.0,4.0,6.0,6.0,0.0,1,1,1

In [21]:
df2.loc[0, 'id'] = 1 # Création d'une colonne id

In [22]:
df2[invariants].isna().any(axis=1).sum()

169

In [23]:
df2 = df2.dropna(subset=invariants) # Suppression des  lignes contenant des valeurs manquantes
df2 = df2.reset_index() # Réindexation du dataframe

In [24]:
df2.head()

,index,has_null,wave,gender,age,age_o,d_age,race,race_o,same_race,...,expected_happy_with_sd_people,expected_num_interested_in_me,expected_num_matches,like,guess_prob_liked,met,decision,decision_o,match,id
0,0,0,1,female,21.0,27.0,6,asian/pacific islander/asian-american,european/caucasian-american,0,...,3.0,2.0,4.0,7.0,6.0,0.0,1,0,0,1.0
1,1,0,1,female,21.0,22.0,1,asian/pacific islander/asian-american,european/caucasian-american,0,...,3.0,2.0,4.0,7.0,5.0,1.0,1,0,0,NaN
2,2,1,1,female,21.0,22.0,1,asian/pacific islander/asian-american,asian/pacific islander/asian-american,1,...,3.0,2.0,4.0,7.0,NaN,1.0,1,1,1,NaN
3,3,0,1,female,21.0,23.0,2,asian/pacific islander/asian-american,european/caucasian-american,0,...,3.0,2.0,4.0,7.0,6.0,0.0,1,1,1,NaN
4,4,0,1,female,21.0,24.0,3,asian/pacific islander/asian-american,latino/hispanic american,0,...,3.0,2.0,4.0,6.0,6.0,0.0,1,1,1,NaN

In [25]:
del df2['index']

In [26]:
df2

,has_null,wave,gender,age,age_o,d_age,race,race_o,same_race,importance_same_race,...,expected_happy_with_sd_people,expected_num_interested_in_me,expected_num_matches,like,guess_prob_liked,met,decision,decision_o,match,id
0,0,1,female,21.0,27.0,6,asian/pacific islander/asian-american,european/caucasian-american,0,2.0,...,3.0,2.0,4.0,7.0,6.0,0.0,1,0,0,1.0
1,0,1,female,21.0,22.0,1,asian/pacific islander/asian-american,european/caucasian-american,0,2.0,...,3.0,2.0,4.0,7.0,5.0,1.0,1,0,0,NaN
2,1,1,female,21.0,22.0,1,asian/pacific islander/asian-american,asian/pacific islander/asian-american,1,2.0,...,3.0,2.0,4.0,7.0,NaN,1.0,1,1,1,NaN
3,0,1,female,21.0,23.0,2,asian/pacific islander/asian-american,european/caucasian-american,0,2.0,...,3.0,2.0,4.0,7.0,6.0,0.0,1,1,1,NaN
4,0,1,female,21.0,24.0,3,asian/pacific islander/asian-american,latino/hispanic american,0,2.0,...,3.0,2.0,4.0,6.0,6.0,0.0,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8204,1,21,male,25.0,26.0,1,european/caucasian-american,latino/hispanic american,0,1.0,...,10.0,NaN,3.0,2.0,5.0,0.0,0,1,0,NaN
8205,1,21,male,25.0,24.0,1,european/caucasian-american,other,0,1.0,...,10.0,NaN,3.0,4.0,4.0,0.0,0,0,0,NaN
8206,1,21,male,25.0,29.0,4,european/caucasian-american,latino/hispanic american,0,1.0,...,10.0,NaN,3.0,6.0,5.0,0.0,0,0,0,NaN
8207,1,21,male,25.0,22.0,3,european/caucasian-american,asian/pacific islander/asian-american,0,1.0,...,10.0,NaN,3.0,5.0,5.0,0.0,0,1,0,NaN
8208,1,21,male,25.0,22.0,3,european/caucasian-american,asian/pacific islander/asian-american,0,1.0,...,10.0,NaN,3.0,4.0,5.0,0.0,0,1,0,NaN

In [27]:
df2.loc[[i for i in range(10, 20)], invariants]

,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,funny_important,...,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga
10,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
11,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
12,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
13,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
14,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
15,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
16,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
17,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
18,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
19,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0

In [28]:
# Remplissage de la colonne id

id=0
caracteristiques = df2.loc[0, invariants]
for i in range (len(df2)):
    if (caracteristiques == df2.loc[i, invariants]).sum() < len(invariants): # invariants non vérifiés
        caracteristiques = df2.loc[i, invariants]
        id += 1
        df2.loc[i, 'id'] = id
    else:
        df2.loc[i, 'id'] = id

In [29]:
df2.head()

,has_null,wave,gender,age,age_o,d_age,race,race_o,same_race,importance_same_race,...,expected_happy_with_sd_people,expected_num_interested_in_me,expected_num_matches,like,guess_prob_liked,met,decision,decision_o,match,id
0,0,1,female,21.0,27.0,6,asian/pacific islander/asian-american,european/caucasian-american,0,2.0,...,3.0,2.0,4.0,7.0,6.0,0.0,1,0,0,0.0
1,0,1,female,21.0,22.0,1,asian/pacific islander/asian-american,european/caucasian-american,0,2.0,...,3.0,2.0,4.0,7.0,5.0,1.0,1,0,0,0.0
2,1,1,female,21.0,22.0,1,asian/pacific islander/asian-american,asian/pacific islander/asian-american,1,2.0,...,3.0,2.0,4.0,7.0,NaN,1.0,1,1,1,0.0
3,0,1,female,21.0,23.0,2,asian/pacific islander/asian-american,european/caucasian-american,0,2.0,...,3.0,2.0,4.0,7.0,6.0,0.0,1,1,1,0.0
4,0,1,female,21.0,24.0,3,asian/pacific islander/asian-american,latino/hispanic american,0,2.0,...,3.0,2.0,4.0,6.0,6.0,0.0,1,1,1,0.0

In [30]:
# Insérer la colonne 'id' au début du tableau

id = df2[['id']]
del df2['id']
df2.insert(0, 'id', id)

In [31]:
df2['id'] = df2['id'].astype(int)

In [32]:
df2

,id,has_null,wave,gender,age,age_o,d_age,race,race_o,same_race,...,interests_correlate,expected_happy_with_sd_people,expected_num_interested_in_me,expected_num_matches,like,guess_prob_liked,met,decision,decision_o,match
0,0,0,1,female,21.0,27.0,6,asian/pacific islander/asian-american,european/caucasian-american,0,...,0.14,3.0,2.0,4.0,7.0,6.0,0.0,1,0,0
1,0,0,1,female,21.0,22.0,1,asian/pacific islander/asian-american,european/caucasian-american,0,...,0.54,3.0,2.0,4.0,7.0,5.0,1.0,1,0,0
2,0,1,1,female,21.0,22.0,1,asian/pacific islander/asian-american,asian/pacific islander/asian-american,1,...,0.16,3.0,2.0,4.0,7.0,NaN,1.0,1,1,1
3,0,0,1,female,21.0,23.0,2,asian/pacific islander/asian-american,european/caucasian-american,0,...,0.61,3.0,2.0,4.0,7.0,6.0,0.0,1,1,1
4,0,0,1,female,21.0,24.0,3,asian/pacific islander/asian-american,latino/hispanic american,0,...,0.21,3.0,2.0,4.0,6.0,6.0,0.0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8204,537,1,21,male,25.0,26.0,1,european/caucasian-american,latino/hispanic american,0,...,0.64,10.0,NaN,3.0,2.0,5.0,0.0,0,1,0
8205,537,1,21,male,25.0,24.0,1,european/caucasian-american,other,0,...,0.71,10.0,NaN,3.0,4.0,4.0,0.0,0,0,0
8206,537,1,21,male,25.0,29.0,4,european/caucasian-american,latino/hispanic american,0,...,-0.46,10.0,NaN,3.0,6.0,5.0,0.0,0,0,0
8207,537,1,21,male,25.0,22.0,3,european/caucasian-american,asian/pacific islander/asian-american,0,...,0.62,10.0,NaN,3.0,5.0,5.0,0.0,0,1,0
8208,537,1,21,male,25.0,22.0,3,european/caucasian-american,asian/pacific islander/asian-american,0,...,0.01,10.0,NaN,3.0,4.0,5.0,0.0,0,1,0

In [33]:
df_personal = pd.DataFrame([], columns = invariants)

In [34]:
df_personal.insert(0, 'id', [])

In [35]:
df_personal

Empty DataFrame
Columns: [id, gender, age, race, importance_same_race, importance_same_religion, field, attractive_important, sincere_important, intelligence_important, funny_important, ambition_important, shared_interests_important, attractive, sincere, intelligence, funny, ambition, sports, tvsports, exercise, dining, museums, art, hiking, gaming, clubbing, reading, tv, theater, movies, concerts, music, shopping, yoga]
Index: []

[0 rows x 35 columns]

In [36]:
carac = df2.loc[df2['id'] == 0].loc[0, invariants]

In [37]:
carac

gender                                                       female
age                                                            21.0
race                          asian/pacific islander/asian-american
importance_same_race                                            2.0
importance_same_religion                                        4.0
field                                                           law
attractive_important                                           15.0
sincere_important                                              20.0
intelligence_important                                         20.0
funny_important                                                15.0
ambition_important                                             15.0
shared_interests_important                                     15.0
attractive                                                      6.0
sincere                                                         8.0
intelligence                                                    8.0
funny                                                           8.0
ambition                                                        7.0
sports                                                          9.0
tvsports                                                        2.0
exercise                                                        8.0
dining                                                          9.0
museums                                                         1.0
art                                                             1.0
hiking                                                          5.0
gaming                                                          1.0
clubbing                                                        5.0
reading                                                         6.0
tv                                                              9.0
theater                                                         1.0
movies                                                         10.0
concerts                                                       10.0
music                                                           9.0
shopping                                                        8.0
yoga                                                            1.0
Name: 0, dtype: object

In [38]:
pd.DataFrame(carac).transpose()

,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,funny_important,...,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga
0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,20.0,15.0,...,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0

In [39]:
indiv = df2.loc[df2['id'] == 2]
indiv.head(1)[invariants]

,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,funny_important,...,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga
20,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,10.0,35.0,10.0,...,4.0,5.0,7.0,8.0,7.0,7.0,7.0,5.0,8.0,7.0

In [40]:
df_personal

Empty DataFrame
Columns: [id, gender, age, race, importance_same_race, importance_same_religion, field, attractive_important, sincere_important, intelligence_important, funny_important, ambition_important, shared_interests_important, attractive, sincere, intelligence, funny, ambition, sports, tvsports, exercise, dining, museums, art, hiking, gaming, clubbing, reading, tv, theater, movies, concerts, music, shopping, yoga]
Index: []

[0 rows x 35 columns]

In [41]:
# Création d'un dataframe contenant les infos personnelles uniquement des candidats

for id in range(0,538):
    indiv = df2.loc[df2['id'] == id] # Récupère les lignes concernant l'individu i
    carac = indiv.head(1)[invariants] # Récupère les invariants de l'individu identifié i
    df_personal = pd.concat([df_personal, carac]) # Ajout de la ligne à df_personal
    df_personal.iloc[id, 0] = id

In [42]:
df_personal

,id,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,...,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga
0,0.0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,20.0,...,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0
10,1.0,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,...,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
20,2.0,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,10.0,35.0,...,4.0,5.0,7.0,8.0,7.0,7.0,7.0,5.0,8.0,7.0
30,3.0,female,23.0,european/caucasian-american,1.0,1.0,law,20.0,20.0,20.0,...,5.0,7.0,7.0,7.0,9.0,7.0,8.0,7.0,1.0,8.0
40,4.0,female,21.0,european/caucasian-american,8.0,1.0,law,20.0,5.0,25.0,...,6.0,8.0,6.0,8.0,6.0,6.0,3.0,7.0,8.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8099,533.0,male,30.0,european/caucasian-american,8.0,8.0,business,40.0,10.0,20.0,...,5.0,1.0,9.0,6.0,4.0,6.0,7.0,10.0,4.0,1.0
8121,534.0,male,28.0,european/caucasian-american,2.0,3.0,general management/finance,20.0,20.0,20.0,...,8.0,8.0,7.0,7.0,8.0,8.0,10.0,10.0,8.0,2.0
8143,535.0,male,30.0,european/caucasian-american,5.0,6.0,mba,30.0,3.0,30.0,...,3.0,8.0,8.0,3.0,7.0,7.0,4.0,6.0,6.0,3.0
8165,536.0,male,27.0,black/african american,2.0,1.0,business,40.0,20.0,20.0,...,1.0,7.0,10.0,2.0,5.0,6.0,7.0,7.0,7.0,1.0
8187,537.0,male,25.0,european/caucasian-american,1.0,1.0,climate dynamics,70.0,0.0,15.0,...,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0

In [43]:
df_personal['id'] = df_personal['id'].astype(int)

In [44]:
df_personal

,id,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,...,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga
0,0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,20.0,...,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0
10,1,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,...,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
20,2,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,10.0,35.0,...,4.0,5.0,7.0,8.0,7.0,7.0,7.0,5.0,8.0,7.0
30,3,female,23.0,european/caucasian-american,1.0,1.0,law,20.0,20.0,20.0,...,5.0,7.0,7.0,7.0,9.0,7.0,8.0,7.0,1.0,8.0
40,4,female,21.0,european/caucasian-american,8.0,1.0,law,20.0,5.0,25.0,...,6.0,8.0,6.0,8.0,6.0,6.0,3.0,7.0,8.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8099,533,male,30.0,european/caucasian-american,8.0,8.0,business,40.0,10.0,20.0,...,5.0,1.0,9.0,6.0,4.0,6.0,7.0,10.0,4.0,1.0
8121,534,male,28.0,european/caucasian-american,2.0,3.0,general management/finance,20.0,20.0,20.0,...,8.0,8.0,7.0,7.0,8.0,8.0,10.0,10.0,8.0,2.0
8143,535,male,30.0,european/caucasian-american,5.0,6.0,mba,30.0,3.0,30.0,...,3.0,8.0,8.0,3.0,7.0,7.0,4.0,6.0,6.0,3.0
8165,536,male,27.0,black/african american,2.0,1.0,business,40.0,20.0,20.0,...,1.0,7.0,10.0,2.0,5.0,6.0,7.0,7.0,7.0,1.0
8187,537,male,25.0,european/caucasian-american,1.0,1.0,climate dynamics,70.0,0.0,15.0,...,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0

In [45]:
df_personal = df_personal.reset_index()
del df_personal['index']

In [46]:
df_personal

,id,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,...,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga
0,0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,20.0,...,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0
1,1,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,...,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
2,2,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,10.0,35.0,...,4.0,5.0,7.0,8.0,7.0,7.0,7.0,5.0,8.0,7.0
3,3,female,23.0,european/caucasian-american,1.0,1.0,law,20.0,20.0,20.0,...,5.0,7.0,7.0,7.0,9.0,7.0,8.0,7.0,1.0,8.0
4,4,female,21.0,european/caucasian-american,8.0,1.0,law,20.0,5.0,25.0,...,6.0,8.0,6.0,8.0,6.0,6.0,3.0,7.0,8.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,533,male,30.0,european/caucasian-american,8.0,8.0,business,40.0,10.0,20.0,...,5.0,1.0,9.0,6.0,4.0,6.0,7.0,10.0,4.0,1.0
534,534,male,28.0,european/caucasian-american,2.0,3.0,general management/finance,20.0,20.0,20.0,...,8.0,8.0,7.0,7.0,8.0,8.0,10.0,10.0,8.0,2.0
535,535,male,30.0,european/caucasian-american,5.0,6.0,mba,30.0,3.0,30.0,...,3.0,8.0,8.0,3.0,7.0,7.0,4.0,6.0,6.0,3.0
536,536,male,27.0,black/african american,2.0,1.0,business,40.0,20.0,20.0,...,1.0,7.0,10.0,2.0,5.0,6.0,7.0,7.0,7.0,1.0
537,537,male,25.0,european/caucasian-american,1.0,1.0,climate dynamics,70.0,0.0,15.0,...,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0

In [47]:
# Ajout de note_moyenne et note_moyenne_o dans la grosse BDD

df2['note_moyenne'] = 1/100 * (df2['attractive_important']*df2['attractive'] + df2['sincere_important']*df2['sincere'] + 
                               df2['intelligence_important']*df2['intelligence'] + df2['funny']*df2['funny'] + 
                               df2['ambition_important']*df2['ambition'])

df2['note_moyenne_o'] = 1/100 * (df2['attractive_important_o']*df2['attractive_o'] + df2['sincere_important_o']*df2['sincere_o'] + 
                                 df2['intelligence_important_o']*df2['intelligence_o'] + df2['funny_important_o']*df2['funny_o'] + 
                                 df2['ambition_important_o']*df2['ambition_o'])

In [48]:
df2

,id,has_null,wave,gender,age,age_o,d_age,race,race_o,same_race,...,expected_num_interested_in_me,expected_num_matches,like,guess_prob_liked,met,decision,decision_o,match,note_moyenne,note_moyenne_o
0,0,0,1,female,21.0,27.0,6,asian/pacific islander/asian-american,european/caucasian-american,0,...,2.0,4.0,7.0,6.0,0.0,1,0,0,5.79,6.90
1,0,0,1,female,21.0,22.0,1,asian/pacific islander/asian-american,european/caucasian-american,0,...,2.0,4.0,7.0,5.0,1.0,1,0,0,5.79,7.00
2,0,1,1,female,21.0,22.0,1,asian/pacific islander/asian-american,asian/pacific islander/asian-american,1,...,2.0,4.0,7.0,NaN,1.0,1,1,1,5.79,8.80
3,0,0,1,female,21.0,23.0,2,asian/pacific islander/asian-american,european/caucasian-american,0,...,2.0,4.0,7.0,6.0,0.0,1,1,1,5.79,7.50
4,0,0,1,female,21.0,24.0,3,asian/pacific islander/asian-american,latino/hispanic american,0,...,2.0,4.0,6.0,6.0,0.0,1,1,1,5.79,6.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8204,537,1,21,male,25.0,26.0,1,european/caucasian-american,latino/hispanic american,0,...,NaN,3.0,2.0,5.0,0.0,0,1,0,6.99,3.40
8205,537,1,21,male,25.0,24.0,1,european/caucasian-american,other,0,...,NaN,3.0,4.0,4.0,0.0,0,0,0,6.99,5.15
8206,537,1,21,male,25.0,29.0,4,european/caucasian-american,latino/hispanic american,0,...,NaN,3.0,6.0,5.0,0.0,0,0,0,6.99,1.90
8207,537,1,21,male,25.0,22.0,3,european/caucasian-american,asian/pacific islander/asian-american,0,...,NaN,3.0,5.0,5.0,0.0,0,1,0,6.99,4.30
8208,537,1,21,male,25.0,22.0,3,european/caucasian-american,asian/pacific islander/asian-american,0,...,NaN,3.0,4.0,5.0,0.0,0,1,0,6.99,5.30

In [49]:
# Ajout de variables liées à la décisiondans la petite BDD

df_personal['nb_match'] = df2.groupby('id')['match'].sum()
df_personal['nb_match_moyen'] = df2.groupby('id')['match'].mean()
df_personal['nb_decision_o'] = df2.groupby('id')['decision_o'].sum()
df_personal['nb_decision_o_moyen'] = df2.groupby('id')['decision_o'].mean()
df_personal['mean_note_moyenne_o'] = df2[['id','note_moyenne_o']].groupby('id').mean()['note_moyenne_o']

In [50]:
df_personal

,id,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,...,movies,concerts,music,shopping,yoga,nb_match,nb_match_moyen,nb_decision_o,nb_decision_o_moyen,mean_note_moyenne_o
0,0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,20.0,...,10.0,10.0,9.0,8.0,1.0,4,0.400000,5,0.500000,6.508840
1,1,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,...,8.0,7.0,8.0,3.0,1.0,2,0.200000,6,0.600000,6.729390
2,2,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,10.0,35.0,...,7.0,7.0,5.0,8.0,7.0,0,0.000000,5,0.500000,5.912922
3,3,female,23.0,european/caucasian-american,1.0,1.0,law,20.0,20.0,20.0,...,7.0,8.0,7.0,1.0,8.0,2,0.200000,6,0.600000,6.439950
4,4,female,21.0,european/caucasian-american,8.0,1.0,law,20.0,5.0,25.0,...,6.0,3.0,7.0,8.0,3.0,2,0.200000,3,0.300000,5.544960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,533,male,30.0,european/caucasian-american,8.0,8.0,business,40.0,10.0,20.0,...,6.0,7.0,10.0,4.0,1.0,5,0.227273,10,0.454545,5.431000
534,534,male,28.0,european/caucasian-american,2.0,3.0,general management/finance,20.0,20.0,20.0,...,8.0,10.0,10.0,8.0,2.0,5,0.227273,10,0.454545,5.440000
535,535,male,30.0,european/caucasian-american,5.0,6.0,mba,30.0,3.0,30.0,...,7.0,4.0,6.0,6.0,3.0,4,0.181818,6,0.272727,4.902727
536,536,male,27.0,black/african american,2.0,1.0,business,40.0,20.0,20.0,...,6.0,7.0,7.0,7.0,1.0,2,0.090909,10,0.454545,5.438095
537,537,male,25.0,european/caucasian-american,1.0,1.0,climate dynamics,70.0,0.0,15.0,...,9.0,10.0,10.0,7.0,3.0,6,0.272727,15,0.681818,5.320000

In [51]:
# Création d'une colonne contenant la note moyenne (basée sur 'attractive', 'sincere', 'intelligence', 'funny', 'ambition') que s'attribue chaque candidat 

for id in range(0,538):
    indiv = df2.loc[df2['id'] == id]  # Récupère les lignes concernant l'individu i
    note = float(indiv.head(1)['note_moyenne']) # Récupère la note moyenne de l'individu i
    df_personal.loc[id, 'note_moyenne'] = note  # Ajout de la ligne à df_personal

In [52]:
df_personal

,id,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,...,concerts,music,shopping,yoga,nb_match,nb_match_moyen,nb_decision_o,nb_decision_o_moyen,mean_note_moyenne_o,note_moyenne
0,0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,20.0,...,10.0,9.0,8.0,1.0,4,0.400000,5,0.500000,6.508840,5.79
1,1,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,...,7.0,8.0,3.0,1.0,2,0.200000,6,0.600000,6.729390,6.54
2,2,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,10.0,35.0,...,7.0,5.0,8.0,7.0,0,0.000000,5,0.500000,5.912922,8.11
3,3,female,23.0,european/caucasian-american,1.0,1.0,law,20.0,20.0,20.0,...,8.0,7.0,1.0,8.0,2,0.200000,6,0.600000,6.439950,6.09
4,4,female,21.0,european/caucasian-american,8.0,1.0,law,20.0,5.0,25.0,...,3.0,7.0,8.0,3.0,2,0.200000,3,0.300000,5.544960,4.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,533,male,30.0,european/caucasian-american,8.0,8.0,business,40.0,10.0,20.0,...,7.0,10.0,4.0,1.0,5,0.227273,10,0.454545,5.431000,8.00
534,534,male,28.0,european/caucasian-american,2.0,3.0,general management/finance,20.0,20.0,20.0,...,10.0,10.0,8.0,2.0,5,0.227273,10,0.454545,5.440000,5.81
535,535,male,30.0,european/caucasian-american,5.0,6.0,mba,30.0,3.0,30.0,...,4.0,6.0,6.0,3.0,4,0.181818,6,0.272727,4.902727,5.11
536,536,male,27.0,black/african american,2.0,1.0,business,40.0,20.0,20.0,...,7.0,7.0,7.0,1.0,2,0.090909,10,0.454545,5.438095,5.64
537,537,male,25.0,european/caucasian-american,1.0,1.0,climate dynamics,70.0,0.0,15.0,...,10.0,10.0,7.0,3.0,6,0.272727,15,0.681818,5.320000,6.99

In [53]:
df2

,id,has_null,wave,gender,age,age_o,d_age,race,race_o,same_race,...,expected_num_interested_in_me,expected_num_matches,like,guess_prob_liked,met,decision,decision_o,match,note_moyenne,note_moyenne_o
0,0,0,1,female,21.0,27.0,6,asian/pacific islander/asian-american,european/caucasian-american,0,...,2.0,4.0,7.0,6.0,0.0,1,0,0,5.79,6.90
1,0,0,1,female,21.0,22.0,1,asian/pacific islander/asian-american,european/caucasian-american,0,...,2.0,4.0,7.0,5.0,1.0,1,0,0,5.79,7.00
2,0,1,1,female,21.0,22.0,1,asian/pacific islander/asian-american,asian/pacific islander/asian-american,1,...,2.0,4.0,7.0,NaN,1.0,1,1,1,5.79,8.80
3,0,0,1,female,21.0,23.0,2,asian/pacific islander/asian-american,european/caucasian-american,0,...,2.0,4.0,7.0,6.0,0.0,1,1,1,5.79,7.50
4,0,0,1,female,21.0,24.0,3,asian/pacific islander/asian-american,latino/hispanic american,0,...,2.0,4.0,6.0,6.0,0.0,1,1,1,5.79,6.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8204,537,1,21,male,25.0,26.0,1,european/caucasian-american,latino/hispanic american,0,...,NaN,3.0,2.0,5.0,0.0,0,1,0,6.99,3.40
8205,537,1,21,male,25.0,24.0,1,european/caucasian-american,other,0,...,NaN,3.0,4.0,4.0,0.0,0,0,0,6.99,5.15
8206,537,1,21,male,25.0,29.0,4,european/caucasian-american,latino/hispanic american,0,...,NaN,3.0,6.0,5.0,0.0,0,0,0,6.99,1.90
8207,537,1,21,male,25.0,22.0,3,european/caucasian-american,asian/pacific islander/asian-american,0,...,NaN,3.0,5.0,5.0,0.0,0,1,0,6.99,4.30
8208,537,1,21,male,25.0,22.0,3,european/caucasian-american,asian/pacific islander/asian-american,0,...,NaN,3.0,4.0,5.0,0.0,0,1,0,6.99,5.30

In [54]:
# EXECUTER SEULEMENT QUAND TOUTES LES MODIFICATIONS ONT BIEN ETE FAITES !!!

df_personal.to_csv('data/speeddating personal.csv')

In [55]:
# EXECUTER SEULEMENT QUAND TOUTES LES MODIFICATIONS ONT BIEN ETE FAITES !!!

df2.to_csv('data/speeddating modified.csv')