In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('DS_project_ensae/speed dating.csv')

In [74]:
# Correction de fautes
df.rename(columns = {'ambtition_important':'ambition_important', 'intellicence_important':'intelligence_important', 'samerace':'same_race', 'sinsere':'sincere', 'sinsere_o':'sincere_o',
                    'ambitous_o':'ambitious_o', 'd_sinsere_o':'d_sincere_o', 'd_ambitous_o':'d_ambitious_o', 'intellicence_important':'intelligence_important', 'd_intellicence_important':'d_intelligence_important'}, inplace = True)

In [73]:
df.columns[[i for i in range(50)]]

Index(['has_null', 'wave', 'gender', 'age', 'age_o', 'd_age', 'd_d_age',
       'race', 'race_o', 'same_race', 'importance_same_race',
       'importance_same_religion', 'd_importance_same_race',
       'd_importance_same_religion', 'field', 'pref_o_attractive',
       'pref_o_sincere', 'pref_o_intelligence', 'pref_o_funny',
       'pref_o_ambitious', 'pref_o_shared_interests', 'd_pref_o_attractive',
       'd_pref_o_sincere', 'd_pref_o_intelligence', 'd_pref_o_funny',
       'd_pref_o_ambitious', 'd_pref_o_shared_interests', 'attractive_o',
       'sincere_o', 'intelligence_o', 'funny_o', 'ambitious_o',
       'shared_interests_o', 'd_attractive_o', 'd_sincere_o',
       'd_intelligence_o', 'd_funny_o', 'd_ambitious_o',
       'd_shared_interests_o', 'attractive_important', 'sincere_important',
       'intelligence_important', 'funny_important', 'ambition_important',
       'shared_interests_important', 'd_attractive_important',
       'd_sincere_important', 'd_intelligence_important', 'd_funny_important',
       'd_ambtition_important'],
      dtype='object')

In [293]:
for i in range(len(invariants)):
    print(df[invariants[i]].isnull().sum())

0
95
63
79
79
63
79
79
79
89
99
121
105
105
105
105
105
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79

In [294]:
df2 = df.copy()

In [265]:
df2.head(3)

,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,same_race,...,d_expected_num_interested_in_me,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match
0,0,1,female,21.0,27.0,6,[4-6],asian/pacific islander/asian-american,european/caucasian-american,0,...,[0-3],[3-5],7.0,6.0,[6-8],[5-6],0.0,1,0,0
1,0,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,european/caucasian-american,0,...,[0-3],[3-5],7.0,5.0,[6-8],[5-6],1.0,1,0,0
2,1,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,asian/pacific islander/asian-american,1,...,[0-3],[3-5],7.0,NaN,[6-8],[0-4],1.0,1,1,1

In [295]:
(df2.loc[1, ['has_null', 'wave', 'gender']] == df2.loc[2, ['has_null', 'wave', 'gender']]).sum()

2

In [296]:
df2.loc[0, 'id'] = 1

In [297]:
df2['id']

0       1.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
8373    NaN
8374    NaN
8375    NaN
8376    NaN
8377    NaN
Name: id, Length: 8378, dtype: float64

In [270]:
invariants = ['gender', 'age', 'race', 'importance_same_race', 'importance_same_religion', 'field', 'attractive_important', 'sincere_important', 'intelligence_important', 'funny_important', 'ambition_important', 'shared_interests_important', 'attractive', 'sincere', 'intelligence', 'funny', 'ambition', 'sports', 'tvsports', 'exercise', 'dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'movies', 'concerts', 'music', 'shopping', 'yoga']

In [274]:
# df2 = df2.dropna(subset=invariants) # Suppression des  lignes contenant des valeurs manquantes
# df2 = df2.reset_index() # Réindexation du dataframe

In [299]:
df2.loc[[i for i in range(10, 20)], invariants]

,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,funny_important,...,hiking,gaming,clubbing,reading,tv,movies,concerts,music,shopping,yoga
10,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
11,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
12,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
13,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
14,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
15,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
16,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
17,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
18,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
19,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0

In [300]:
# Création d'une colonne id

id=1
caracteristiques = df2.loc[0, invariants]
for i in range (len(df2)):
    if (caracteristiques == df2.loc[i, invariants]).sum() < len(invariants): # invariants non vérifiés
        caracteristiques = df2.loc[i, invariants]
        id += 1
        df2.loc[i, 'id'] = id
    else:
        df2.loc[i, 'id'] = id

In [301]:
df2['id']

0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
8373    707.0
8374    707.0
8375    707.0
8376    707.0
8377    707.0
Name: id, Length: 8378, dtype: float64

In [302]:
df_personal = pd.DataFrame([], columns = invariants)

In [303]:
df_personal.insert(0, 'id', [])

In [304]:
df_personal

Empty DataFrame
Columns: [id, gender, age, race, importance_same_race, importance_same_religion, field, attractive_important, sincere_important, intelligence_important, funny_important, ambition_important, shared_interests_important, attractive, sincere, intelligence, funny, ambition, sports, tvsports, exercise, dining, museums, art, hiking, gaming, clubbing, reading, tv, movies, concerts, music, shopping, yoga]
Index: []

[0 rows x 34 columns]

In [305]:
carac = df2.loc[df2['id'] == 1].loc[0, invariants]

In [306]:
carac

gender                                                       female
age                                                            21.0
race                          asian/pacific islander/asian-american
importance_same_race                                            2.0
importance_same_religion                                        4.0
field                                                           law
attractive_important                                           15.0
sincere_important                                              20.0
intelligence_important                                         20.0
funny_important                                                15.0
ambition_important                                             15.0
shared_interests_important                                     15.0
attractive                                                      6.0
sincere                                                         8.0
intelligence                                                    8.0
funny                                                           8.0
ambition                                                        7.0
sports                                                          9.0
tvsports                                                        2.0
exercise                                                        8.0
dining                                                          9.0
museums                                                         1.0
art                                                             1.0
hiking                                                          5.0
gaming                                                          1.0
clubbing                                                        5.0
reading                                                         6.0
tv                                                              9.0
movies                                                         10.0
concerts                                                       10.0
music                                                           9.0
shopping                                                        8.0
yoga                                                            1.0
Name: 0, dtype: object

In [289]:
pd.DataFrame(carac).transpose()

,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,funny_important,...,hiking,gaming,clubbing,reading,tv,movies,concerts,music,shopping,yoga
0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,20.0,15.0,...,5.0,1.0,5.0,6.0,9.0,10.0,10.0,9.0,8.0,1.0

In [307]:
indiv = df2.loc[df2['id'] == 2]
indiv.head(1)[invariants]

,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,funny_important,...,hiking,gaming,clubbing,reading,tv,movies,concerts,music,shopping,yoga
10,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,20.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0

In [308]:
df_personal

Empty DataFrame
Columns: [id, gender, age, race, importance_same_race, importance_same_religion, field, attractive_important, sincere_important, intelligence_important, funny_important, ambition_important, shared_interests_important, attractive, sincere, intelligence, funny, ambition, sports, tvsports, exercise, dining, museums, art, hiking, gaming, clubbing, reading, tv, movies, concerts, music, shopping, yoga]
Index: []

[0 rows x 34 columns]

In [310]:
# Création d'un dataframe contenant les infos personnelles uniquement des candidats

for id in range(1, 708):
    indiv = df2.loc[df2['id'] == id]
    carac = indiv.head(1)[invariants] # Récupère les invariants de l'individu identifié i
    df_personal = pd.concat([df_personal, carac]) # Ajout de la ligne à df_personal
    df_personal.iloc[id - 1, 0] = id

In [311]:
df_personal

,id,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,intelligence_important,...,hiking,gaming,clubbing,reading,tv,movies,concerts,music,shopping,yoga
0,1.0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,20.0,...,5.0,1.0,5.0,6.0,9.0,10.0,10.0,9.0,8.0,1.0
10,2.0,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,25.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
20,3.0,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,10.0,35.0,...,8.0,4.0,5.0,7.0,8.0,7.0,7.0,5.0,8.0,7.0
30,4.0,female,23.0,european/caucasian-american,1.0,1.0,law,20.0,20.0,20.0,...,7.0,5.0,7.0,7.0,7.0,7.0,8.0,7.0,1.0,8.0
40,5.0,female,21.0,european/caucasian-american,8.0,1.0,law,20.0,5.0,25.0,...,6.0,6.0,8.0,6.0,8.0,6.0,3.0,7.0,8.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8268,703.0,male,30.0,european/caucasian-american,8.0,8.0,business,40.0,10.0,20.0,...,2.0,5.0,1.0,9.0,6.0,6.0,7.0,10.0,4.0,1.0
8290,704.0,male,28.0,european/caucasian-american,2.0,3.0,general management/finance,20.0,20.0,20.0,...,4.0,8.0,8.0,7.0,7.0,8.0,10.0,10.0,8.0,2.0
8312,705.0,male,30.0,european/caucasian-american,5.0,6.0,mba,30.0,3.0,30.0,...,3.0,3.0,8.0,8.0,3.0,7.0,4.0,6.0,6.0,3.0
8334,706.0,male,27.0,black/african american,2.0,1.0,business,40.0,20.0,20.0,...,2.0,1.0,7.0,10.0,2.0,6.0,7.0,7.0,7.0,1.0
8356,707.0,male,25.0,european/caucasian-american,1.0,1.0,climate dynamics,70.0,0.0,15.0,...,7.0,1.0,9.0,8.0,3.0,9.0,10.0,10.0,7.0,3.0

In [312]:
df_personal = df_personal.reset_index()

In [313]:
df_personal

,index,id,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,...,hiking,gaming,clubbing,reading,tv,movies,concerts,music,shopping,yoga
0,0,1.0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,20.0,...,5.0,1.0,5.0,6.0,9.0,10.0,10.0,9.0,8.0,1.0
1,10,2.0,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,5.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
2,20,3.0,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,10.0,...,8.0,4.0,5.0,7.0,8.0,7.0,7.0,5.0,8.0,7.0
3,30,4.0,female,23.0,european/caucasian-american,1.0,1.0,law,20.0,20.0,...,7.0,5.0,7.0,7.0,7.0,7.0,8.0,7.0,1.0,8.0
4,40,5.0,female,21.0,european/caucasian-american,8.0,1.0,law,20.0,5.0,...,6.0,6.0,8.0,6.0,8.0,6.0,3.0,7.0,8.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,8268,703.0,male,30.0,european/caucasian-american,8.0,8.0,business,40.0,10.0,...,2.0,5.0,1.0,9.0,6.0,6.0,7.0,10.0,4.0,1.0
703,8290,704.0,male,28.0,european/caucasian-american,2.0,3.0,general management/finance,20.0,20.0,...,4.0,8.0,8.0,7.0,7.0,8.0,10.0,10.0,8.0,2.0
704,8312,705.0,male,30.0,european/caucasian-american,5.0,6.0,mba,30.0,3.0,...,3.0,3.0,8.0,8.0,3.0,7.0,4.0,6.0,6.0,3.0
705,8334,706.0,male,27.0,black/african american,2.0,1.0,business,40.0,20.0,...,2.0,1.0,7.0,10.0,2.0,6.0,7.0,7.0,7.0,1.0
706,8356,707.0,male,25.0,european/caucasian-american,1.0,1.0,climate dynamics,70.0,0.0,...,7.0,1.0,9.0,8.0,3.0,9.0,10.0,10.0,7.0,3.0

In [315]:
df_personal_dropped = df_personal.dropna() # Si besoin pour plus tard, on supprimera les lignes contenant des valeurs manquantes

In [317]:
df_personal_dropped = df_personal_dropped.reset_index()

In [ ]:
df_personal_dropped

,level_0,index,id,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,...,hiking,gaming,clubbing,reading,tv,movies,concerts,music,shopping,yoga
0,0,0,1.0,female,21.0,asian/pacific islander/asian-american,2.0,4.0,law,15.0,...,5.0,1.0,5.0,6.0,9.0,10.0,10.0,9.0,8.0,1.0
1,1,10,2.0,female,24.0,european/caucasian-american,2.0,5.0,law,45.0,...,3.0,5.0,8.0,10.0,1.0,8.0,7.0,8.0,3.0,1.0
2,2,20,3.0,female,25.0,european/caucasian-american,8.0,4.0,economics,35.0,...,8.0,4.0,5.0,7.0,8.0,7.0,7.0,5.0,8.0,7.0
3,3,30,4.0,female,23.0,european/caucasian-american,1.0,1.0,law,20.0,...,7.0,5.0,7.0,7.0,7.0,7.0,8.0,7.0,1.0,8.0
4,4,40,5.0,female,21.0,european/caucasian-american,8.0,1.0,law,20.0,...,6.0,6.0,8.0,6.0,8.0,6.0,3.0,7.0,8.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,702,8268,703.0,male,30.0,european/caucasian-american,8.0,8.0,business,40.0,...,2.0,5.0,1.0,9.0,6.0,6.0,7.0,10.0,4.0,1.0
534,703,8290,704.0,male,28.0,european/caucasian-american,2.0,3.0,general management/finance,20.0,...,4.0,8.0,8.0,7.0,7.0,8.0,10.0,10.0,8.0,2.0
535,704,8312,705.0,male,30.0,european/caucasian-american,5.0,6.0,mba,30.0,...,3.0,3.0,8.0,8.0,3.0,7.0,4.0,6.0,6.0,3.0
536,705,8334,706.0,male,27.0,black/african american,2.0,1.0,business,40.0,...,2.0,1.0,7.0,10.0,2.0,6.0,7.0,7.0,7.0,1.0
537,706,8356,707.0,male,25.0,european/caucasian-american,1.0,1.0,climate dynamics,70.0,...,7.0,1.0,9.0,8.0,3.0,9.0,10.0,10.0,7.0,3.0

In [319]:
df_personal.to_csv('DS_project_ensae/speed dating personal.csv')

In [320]:
df_personal_dropped.to_csv('DS_project_ensae/speed dating personal nan dropped.csv')